
a:link {
    color: #222222;
    text-decoration: solid;
    font-weight: bold;
}

a:visited {
    color: #222222;
    text-decoration: none;
}


.heading {
    margin-left: 10%;
    color: #f1f1f1;
    font-size: 28px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding: 16px 15px;
}

.main {
    margin-left: 15%;
    color: #222222;
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 15px;
}
