.progressbar {
    background-color: #1e222e;
    border-radius: 13px;
    padding: 4px;
}

.progressbar>div {
    background-color: #495883 ;
    width: 50%;
    height: 16px;
    border-radius: 10px;
}

.progressbar_text {
    font-size: 12px;
    position: relative;
    vertical-align: middle;
    top: -2px; /* Half of the padding in .progressbar class */
}
