/* Text Fade-In */
.text_fadein_fast {
    overflow: hidden;
    color: #f1f1f1;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.text_fadein_medium {
    overflow: hidden;
    color: #f1f1f1;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

.text_fadein_slow {
    overflow: hidden;
    color: #f1f1f1;
    animation: fadeIn 9s;
    -webkit-animation: fadeIn 9s;
    -moz-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;
}

@keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@-o-keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}


/* Text Typing Effect */
.text_container {
    display: inline-block;
    text-align: center;
    width: auto;
}

.text_typing_newline {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    border-color: #242b40;
    width: 0;
    animation:
        typing 1.5s steps(30, end) forwards,
        cursor_blink 0.5s 3;
}

.text_typing_inf {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    border-color: #242b40;
    width: 0;
    animation:
        typing 1.5s steps(30, end) forwards,
        cursor_blink 0.5s infinite;
}

@keyframes typing {
    0% {width: 0%}
    100% {width: 100%}
}

@-webkit-keyframes typing {
    0% {width: 0%}
    100% {width: 100%}
}

@-moz-keyframes typing {
    0% {width: 0%}
    100% {width: 100%}
}

@-o-keyframes typing {
    0% {width: 0%}
    100% {width: 100%}
}

@-ms-keyframes typing {
    0% {width: 0%}
    100% {width: 100%}
}

@keyframes cursor_blink {
    0% {border-right-color: transparent}
    50% {border-right-color: #f1f1f1}
    100% {border-right-color: transparent}
}

@-webkit-keyframes cursor_blink {
    0% {border-right-color: transparent}
    50% {border-right-color: #f1f1f1}
    100% {border-right-color: transparent}
}

@-moz-keyframes cursor_blink {
    0% {border-right-color: transparent}
    50% {border-right-color: #f1f1f1}
    100% {border-right-color: transparent}
}

@-o-keyframes cursor_blink {
    0% {border-right-color: transparent}
    50% {border-right-color: #f1f1f1}
    100% {border-right-color: transparent}
}

@-ms-keyframes cursor_blink {
    0% {border-right-color: transparent}
    50% {border-right-color: #f1f1f1}
    100% {border-right-color: transparent}
}
